/* DESKTOP*/
.text-droite{
  text-align: right
}

#equipe{
  padding: 50px 0
}
#equipe .container .bloc-professeur{
  display: flex;
  justify-content: space-between;
  align-items: center
}


#equipe h3{
  font-size: 25px
}

#equipe .container .bloc-professeur .bloc-img-prof{
width: 35%
}
#equipe .container .bloc-professeur .description-professeur{
width: 50%
}



/*TABLETTE*/

/* MOBILE*/
