*{
  box-sizing: border-box;
}
.bloc-actu{
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*justify-content: center;*/
  background-color: #cecece;
  border-bottom: 5px solid #d52a2c;
  margin: 50px 0;
  clear: both;
  
}

.bloc-img-actu{
  width: 25%;
  float: left;
  margin:auto;
}

.bloc-img-actu img{
  display: block;
  max-width: 250px;
  /*margin:15px auto;*/
}

.bloc-description-actu{
  width: 70%;
  padding: 20px 15px 10px 5px;
  float: left;
  position: relative;


}
.clear{clear: both;}

.bloc-description-actu h4{
  margin-bottom: 10px;
  /*font-weight: normal*/
}

.bloc-description-actu p.date-actu{
  margin-top: 50px;
  float: right;   
}






/************************



*************************/



@media screen and (max-width: 1050px) {
  .bloc-img-actu{
  width: 30%;
  float: left;
  margin:auto;
}
}

@media screen and (max-width: 900px) {
 

  
  .bloc-actu{
    padding: 10px 0;
  }
  .bloc-img-actu, .bloc-description-actu{
    float: none;  
  
  }
    
  .bloc-description-actu{
    padding: 20px 15px;
    width: 100%
  }

  .bloc-description-actu h4{
      text-align: center;
  }

  .bloc-description-actu p.date-actu{
  margin-top: 25px;
     
  }
}

