#sectionContact .container{
	max-width: 1280px;
	display: flex;
	justify-content: space-between;

}


#sectionContact .accessibilite{
	width: 50%;
	display: flex;
	justify-content: center;
	flex-flow: column;
}


#sectionContact .map{
	background: grey;
	width: 50%;
	height: 300px
}

.accessibilite .bloc-acces{
	width: 100%;
	display: flex;
	margin: 20px 0;
}

.accessibilite .bloc-acces img{
	height: 50px;
    margin-right: 30px;
}

.accessibilite .bloc-acces div h3{
    margin-bottom: 10px;
}

.accessibilite .bloc-acces div p{
    margin-bottom: 10px;
    line-height: 20px
}


#sectionForm .container p{
	margin-bottom : 20px;

}


#sectionForm .container form{
	/*border: 1px solid;*/
	width: 728px;
    margin: auto;
    /*border:1px solid red;*/

}

#sectionForm .container form label{
	display: block;
	margin: 0 15px;
	text-align: left
}

#sectionForm .container form input[type=text], #sectionForm .container form textarea{
	width: 100%;
	font-size: 16px;
	margin: 10px 0;
	background-color: #fcfcfc;
	border-radius: 5px;
	resize: none;
	border: 1px solid  #cecece;
	padding: 0 15px
}

#sectionForm .container form input[type=text]{
	height: 35px
}


#sectionForm .container form textarea{
	height: 150px
}

#sectionForm .container form .envoyer-btn{
	margin: auto;
	width: 200px;
	height: 42px;
	border-radius: 20px;
	font-size: 16px;
	background: #c20205;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s
}
#sectionForm .container form .envoyer-btn:hover{
	background: #333333
}


#sectionForm #envoyer{
	display: block
}



@media screen and (max-width: 768px) {
	#sectionContact .container{
		flex-flow: column;
		padding: 0;
	}



	#sectionContact .accessibilite{
		width: 100%;
		display: flex;
		justify-content: center;
		flex-flow: column;
	}
	.accessibilite .bloc-acces img {
	    height: 30px;
	    margin-right: 15px
	}


	.accessibilite .bloc-acces{
		display: flex;
		justify-content: center;
		margin:10px 0;
	}
	#sectionContact .map{
		width: 100%;
	}


	#sectionForm .container form{
		width: 100%;
	}
	#sectionForm .container form label{
		margin: 0;

	}


}
