// DESKTOP

.bannerCours{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 200px;
  width: 100%;
  background-color: red;
}

.contentCours{
  height: 200px;
  width: 100%;
  background-color:pink;
}

.horaireCours{
  height: 200px;
  width: 100%;
  columns: row;
  background-color: grey;
}

.SliderCours{
  height: 200px;
   width: 100%;
  columns: row;
  background-color: green;
}


// TABLETTE

// MOBILE
