/*DESKTOP*/
h2{

    margin-bottom: 30px
}


#banniereCours{
  height: 300px;
  width: 100%;
  
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banniere-cours-japonais{
  background: url('../img/ban10.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.banniere-cours-manga{
  background: url('../img/ban-manga3.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.banniere-cours-dessin{
  background: url('../img/ban1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#banniereCours  h1{
  font-size: 45px;
  margin:0;
}



#sectionDescriptionCours .container .bloc-description{
  display: flex;
  justify-content: space-between;
}



#sectionDescriptionCours .bloc-description-partie{
  width: 25%;
  /*border: 1px solid;*/
}
#sectionDescriptionCours .bloc-description-partie img{
  width: 120px;
  /*border: 1px solid;*/
}


#sectionDescriptionCours .bloc-description-partie p{
  margin-top: 20px;
}









#sectionHoraireCours{
  width: 100%;
  background-color: #333333;
  color: #fff;

}




#sectionHoraireCours .bloc-horaire{
  display: flex;
  justify-content: space-between;
}


#sectionHoraireCours .bloc-horaire-partie{
  width: 22%
}

#sectionHoraireCours .bloc-horaire .bloc-horaire-partie img{
  margin: 30px 0;
  width: 120px
}

#sectionHoraireCours .bloc-horaire .bloc-horaire-partie p{
  margin-bottom: 15px
}
}



/************************/

#sectionSliderCours{
  width: 100%;
  background-color: #fff;
  height: 300px;
  margin-bottom:50px

}


 /*TABLETE*/

 /*MOBILE*/
