/*********************************

          

**********************************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto-light' ,sans-serif;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 25px;
}



h1{
  font-size: 45px;
}

h3{
  font-size: 28px
}

section{
    padding: 30px 0
 }

.majuscule{
  text-transform: uppercase;
}

.text-center{
  text-align: center
}

.img-adapte{
  width: 100%;
  height: inherit;
}
/**************************************

            VERSION DESKTOP

****************************************/

header{
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #fff

}

header .container{
  background: #fff;
  color: #231f20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*border-bottom:  1px solid*/

}
#btn-menu{
  display: none
}

header label{
  font-size: 30px;
  cursor: pointer;
  display: none
}

.menu {
  z-index: 1000;
}

.menu ul {
  background: #fff;
  display: flex;
  list-style:none;
}

.menu ul ul {
  display: none;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
}

.menu a {
  display: block;
  padding: 25px 10px;
  color: #231f20;
  text-decoration: none;
  font-size: 14px
}

.menu a:hover{
  background: rgba(0,0,0,0.3);
  transition: all 0.3s
}

.menu ul li:hover ul{
  display: block;
  position:absolute;
  z-index: 1000;
  width: 150px;
}

.submenu-responsive{
  display: none
}

.bloc-logo-nav{
  display: flex;
  width: 230px;
  margin: 20px 0 12px;
}

.bloc-logo-nav a > img{
  width: 100%;
}


.logo-desktop{
  display: inline;
}

.logo-tablette{
  display: none
}

.logo-mobile{
  display: none;
}


.spacer{
  height: 66px
}


/*********************************

          VERSION TABLETTE

**********************************/


@media (max-width: 900px) {


.logo-tablette{
    display: inline;
  }

 .logo-desktop{
    display: none;
  }

 

  .logo-mobile{
    display: none;
  }

  .bloc-logo-nav {
    display: flex;
    width: 130px;
    margin: 4px 0 0;
  }


  header .container{
    padding: 0;
/*    position: relative;
*/  }

}






@media (max-width: 768px) {
  body{
    overflow-x : hidden;
  }

  

 /* .bloc-logo-nav {
    width: 126px;
    margin: 6px 0 0px;
  }*/

  header label{
    display: block;
    position: absolute;
    right: 15px
  }

 

  .menu {
    position: absolute;
    top:66px;
    left: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: all 0.3s;
  }

  .menu ul {
    display: block;
    background: #555;
  }

  .menu ul li:hover ul{
    display: none;
    position: static;
    width: 100%
  }
  
  .menu a{
    position: relative;
    color: #fff;
    padding: 20px 10px;
  }
  
  #btn-menu:checked ~ .menu{
    transform: translateX(0%);
  }
    
  .menu ul ul{
    background: rgba(0,0,0,0.4);
  }

  .menu ul ul a{
    padding: 12px 40px;
  }
  
  .submenu-responsive{
    display: block;
  }

  .submenu{
    display: none
  }

}


/*********************************

          VERSION MOBILE

**********************************/


@media (max-width: 425px) {

  .bloc-logo-nav{
    margin:auto;
    width: 66px;
    padding: 10px;  
  }
  .logo-tablette{
    display: none;
  }
    .logo-mobile{
    display: block;
  }
  
  .menu a{
    position: relative;
    color: #fff;
    padding: 15px 10px;
  }

}