*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  width: 100%;
  max-width: 1024px;
  margin: auto;
  /*border-left:  1px solid red;
  border-right : 1px solid red;*/
  /*border: 0.5px solid*/
  padding: 0 15px;
}


.majuscule{
  text-transform: uppercase;
}

header{
  background: #CE852A;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center

}
#btn-menu{
  display: none
}

header label{
  font-size: 30px;
  cursor: pointer;
  display: none
}

.menu {
  float: right;
  z-index: 1000;
}

.menu ul {
  background: #ce852a;
  display: flex;
  list-style:none;
}

.menu ul ul {
  display: none;
}
.menu a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 11px
}

.menu a:hover{
  background: rgba(0,0,0,0.3);
}

.menu ul li:hover ul{
  display: block;
  position:absolute;
  z-index: 1000
}
.submenu-responsive{
  display: none
}



.bloc-logo-nav{
  display: inline-block;
  width: 200px;
  margin-top: 10px
}

.bloc-logo-nav a > img{
  width: 100%;
}





/*
.menu a span{
  display: none;
}
*/





@media  (max-width: 768px) {
  body{
    overflow: hidden;
  }

  .container{
    width: 100%;
    max-width: 1024px;
    margin: auto;
    
  }

  header label{
    display: inline-block;
    float:right ;
  }

  

  .menu {
    position: absolute;
    top:40px;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.3s;

    }
  .menu ul {
    display: block;
    background: #555;
  }

  .menu ul li:hover ul{
    display: none;
    position: static;
  }
  
  .menu a{
    position: relative;
  }
  /*.menu a span{
    display: block;
    position: absolute;
    right: 5px;
    top: 15px;
  }*/

  #btn-menu:checked ~ .menu{
    transform: translateX(0%);
  }
  
  
  .menu ul ul{
    background: rgba(0,0,0,0.4);
  }

  .menu ul ul a{
    padding: 15px 40px;
  }
  
  .submenu-responsive{
    display: block;
  }
  .submenu{
    display: none
  }



}