*{
  box-sizing: border-box;
}
.bloc-presse{
  
  background-color: #cecece;
  border-bottom: 5px solid #d52a2c;
  margin: 50px 0;
  clear: both;
  
}

.bloc-img-presse{
  width: 25%;
  float: left;
  margin:auto;
}

.bloc-img-presse img{
  display: block;
  max-width: 260px;
}

.bloc-description-presse{
  width: 70%;
  padding: 30px 15px 10px 5px;
  float: left;
  position: relative;


}
.clear{clear: both;}

.bloc-description-presse h4{
  margin-bottom: 10px;
}

.bloc-description-presse p.date-presse{
  margin-top: 50px;
  float: right;   
}






/************************



*************************/



@media (max-width: 1050px) {
  .bloc-img-presse{
  width: 30%;
  float: left;
  margin:auto;
}
}

@media (max-width: 900px) {
 

  
  .bloc-presse{
    padding: 10px 0;
  }
  .bloc-img-presse, .bloc-description-presse{
    float: none;  
  
  }
    
  .bloc-description-presse{
    padding: 20px 15px;
    width: 100%
  }

  .bloc-description-presse h4{
      text-align: center;
  }

  .bloc-description-presse p.date-presse{
  margin-top: 25px;
     
  }

}



@media (max-width: 425px) {
  
  #sectionPresse .container{
    padding: 0
  }

}
