@import url('header.css');
@import url('footer.css');
@import url('home.css');
@import url('about.css');
@import url('cours.css');
@import url('actu.css');
@import url('event.css');
@import url('galerie.css');
@import url('partner.css');
@import url('contact.css');

.align{
  text-align: center;
}
